* {
    box-sizing: border-box;
}
body {
    background-color: #97a17e;
}
.card{
    perspective: 1500px;
    position: absolute;
    left: calc(50% - 175px);
    top: calc(50% - 250px);
}
.card:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px black;
    background: rgb(29, 141, 47);
}
.card, .card-page {
    width: 350px;
    height: 500px;
    transition: all 1s ease-out;
}
.cart-page-front {
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    z-index: 2;
}
.cart-page-outside, .cart-page-inside {
    position: absolute;
}
.cart-page-outside {
    border: 10px solid #fbfbfb;
    border-image: repeating-linear-gradient(44deg, #4d9f0c, #9198e5, #4d9f0c 100px) 12;
    background: #14dbaa url(/card/img/outside.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
}
.cart-page-inside {
    transform: rotateY(-180deg);
    border-right: none;
    background-position: 0px 80px;
}
    .cart-page-inside {
    background-position: 0px 30px;
    }

    .cursor{
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .bounce{
        animation-name: bounce;
        animation-timing-function: linear;
    }
    @keyframes bounce{
        0%   {transform: translateY(0);}
        50%  {transform: translateY(-15px);}
        100% {transform: translateY(0);}
    }
    #cursor{
        background-image: url(img/cursor.png);
        background-size: cover;
        height: 34px;
        width: 26px;
        position: absolute;
        left: 45%;
        top: 50%;
    }
    .card.is-opened .cart-page-front{
        transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    .card.is-opened {
        transform: rotate(0deg) translate(175px, 0);
    }
.cart-page-text {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}










