body {
  text-align: center;
}
.carousel {
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 140px;
  margin: 80px auto;
  perspective: 1000px;
}
.photo {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
.photo_cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
}

.photo_cell:nth-child(1) { background: rgba(179, 7, 7, 0.8); }
.photo_cell:nth-child(2) { background: rgba(0, 255, 34, 0.8); }
.photo_cell:nth-child(3) { background: rgba(138, 192, 29, 0.8); }
.photo_cell:nth-child(4) { background: rgba(194, 191, 8, 0.8); }
.photo_cell:nth-child(5) { background: rgba(29, 1, 1, 0.8); }
.photo_cell:nth-child(6) { background: rgba(209, 21, 52, 0.8); }
.photo_cell:nth-child(7) { background: rgba(32, 107, 25, 0.8); }
.photo_cell:nth-child(8) { background: rgba(10, 107, 163, 0.8); }
.photo_cell:nth-child(9) { background: rgba(180, 13, 105, 0.8); }

.photo_cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.photo_cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.photo_cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.photo_cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.photo_cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.photo_cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.photo_cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.photo_cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.photo_cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
